<div class="container-fluid p-0 pt-3">
    <h3 class="fs-3 fw-bold">List Products</h3>
    <!-- <button type="button" class="btn btn-outline-dark mb-2">Add Product</button> -->
    <a href="#myModal" class="btn btn-outline-dark mb-2" data-toggle="modal">Add Category</a>
    <table id="table_id" style="width:100%" class="display table col-12 m-auto text-center table-border table-hover">
        <thead>
          <tr>
            <th scope="col-1">ID</th>
            <th scope="col-2">Name</th>
            <th scope="col-1">Status</th>
            <th scope="col-2" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <th scope="row">{{category .id}}</th>
            <td>{{category .name}}</td>
            <td><button type="button" class="btn btn-dark">Kích hoạt</button></td>
            <td><a href="#myModal" (click)="onEditCate(category.id)" data-toggle="modal" class="text-dark"><i class="fas fa-edit"></i></a></td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="col-12 text-center m-2 btn-page">
        <button type="button" class="btn-page-detail btn btn-outline-secondary m-1">1</button>
        <button type="button" class="btn-page-detail btn btn-outline-secondary m-1">2</button>
        <button type="button" class="btn-page-detail btn btn-outline-secondary m-1">3</button>
    </div> -->
</div>
<app-form-cate></app-form-cate>
<!-- <div id="myModal" class="modal fade">
	<div class="modal-dialog modal-form">
		<div class="modal-content">
			<div class="modal-header">
                <h3 class="col-12 fs-3 fw-bold text-center text-dark">Add category</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Name category: </label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Status: </label>
                        <select class="form-select">
                            <option value="1">Kích hoạt</option>
                            <option value="2">Chưa kích hoạt</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-dark col-2 m-auto">ADD</button>
                  </form>		
			</div>
		</div>
	</div>
</div>   -->