<div class="container m-auto">
    <div class="infoProduct row p-3">
        <div class="col-5 border">
            <img src="{{phone.image}}" class="img-fluid" alt="">
        </div>
        <div class="col-7 ps-5">
            <h3 class="title fw-bold">{{phone.name}}</h3>
            <ul class="rating">
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="far fa-star"></li>
                <li class="far fa-star"></li>
            </ul>
            <p class="priceProduct fs-4 text-secondary">{{phone.price}} $</p>
            <h6>Description:</h6>
            <p class="text-secondary">{{phone.desc}}</p>
            <div class="action text-center">
                <button type="button" class="btn btn-outline-dark col-10 p-2 fs-5"><i class="fas fa-cart-plus me-3"></i>Thêm vào giỏ hàng</button>
                <button type="button" class="btn btn-outline-dark col-10 mt-3 p-2 fs-5">Mua ngay</button>
            </div>
        </div>
    </div>
    <div class="col-8 comment mt-2 mb-5">
        <p class="fs-5 fw-bold ps-3 title">Comment</p>
        <div class="box-comment row mt-3">
            <img src="https://banner2.cleanpng.com/20180626/fhs/kisspng-avatar-user-computer-icons-software-developer-5b327cc98b5780.5684824215300354015708.jpg" class="col-2" alt="">
            <div class="col-10">
                <h6 class="user-comment fw-bold">Thu Trang:</h6>
                <p class="content-comment">Sản phẩm đẹp</p>
            </div>
        </div>
        <div class="box-comment row mt-3">
            <img src="https://banner2.cleanpng.com/20180626/fhs/kisspng-avatar-user-computer-icons-software-developer-5b327cc98b5780.5684824215300354015708.jpg" class="col-2" alt="">
            <div class="col-10">
                <h6 class="user-comment fw-bold">Lê Huy:</h6>
                <p class="content-comment">Sản phẩm đẹp</p>
            </div>
        </div>
        <div class="write-comment row mt-3">
            <img src="https://banner2.cleanpng.com/20180626/fhs/kisspng-avatar-user-computer-icons-software-developer-5b327cc98b5780.5684824215300354015708.jpg" class="col-2" alt="">
            <div class="col-10">
                <h6 class="user-comment fw-bold">You:</h6>
                <input type="email" class="form-control" placeholder="Viết bình luận...">
            </div>
        </div>
    </div>
    <div class="col-12 productInvolve">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <h2>Featured <b>Products</b></h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>   
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 mt-2">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a href="#" class="image">
                                                <img class="pic-1" src="https://bizweb.dktcdn.net/100/369/010/products/bob-t-shirts-tan-3-w.jpg?v=1608103670000">
                                            </a>
                                            <span class="product-discount-label">-33%</span>
                                            <ul class="product-links">
                                                <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                                                <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <ul class="rating">
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="far fa-star"></li>
                                                <li class="far fa-star"></li>
                                            </ul>
                                            <h3 class="title"><a href="#">Men's Blazer 1</a></h3>
                                            <div class="price"><span>$90.00</span> $66.00</div>
                                            <a class="add-to-cart" href="#">add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a href="#" class="image">
                                                <img class="pic-1" src="https://bizweb.dktcdn.net/100/369/010/products/bob-t-shirts-tan-3-w.jpg?v=1608103670000">
                                            </a>
                                            <span class="product-discount-label">-33%</span>
                                            <ul class="product-links">
                                                <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                                                <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <ul class="rating">
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="far fa-star"></li>
                                                <li class="far fa-star"></li>
                                            </ul>
                                            <h3 class="title"><a href="#">Men's Blazer 2</a></h3>
                                            <div class="price"><span>$90.00</span> $66.00</div>
                                            <a class="add-to-cart" href="#">add to cart</a>
                                        </div>
                                    </div>
                                </div>	
                                <div class="col-md-3 col-sm-6 mt-2">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a href="#" class="image">
                                                <img class="pic-1" src="https://bizweb.dktcdn.net/100/369/010/products/bob-t-shirts-tan-3-w.jpg?v=1608103670000">
                                            </a>
                                            <span class="product-discount-label">-33%</span>
                                            <ul class="product-links">
                                                <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                                                <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <ul class="rating">
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="far fa-star"></li>
                                                <li class="far fa-star"></li>
                                            </ul>
                                            <h3 class="title"><a href="#">Men's Blazer 3</a></h3>
                                            <div class="price"><span>$90.00</span> $66.00</div>
                                            <a class="add-to-cart" href="#">add to cart</a>
                                        </div>
                                    </div>
                                </div>								
                                <div class="col-md-3 col-sm-6 mt-2">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a href="#" class="image">
                                                <img class="pic-1" src="https://bizweb.dktcdn.net/100/369/010/products/bob-t-shirts-tan-3-w.jpg?v=1608103670000">
                                            </a>
                                            <span class="product-discount-label">-33%</span>
                                            <ul class="product-links">
                                                <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                                                <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <ul class="rating">
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="far fa-star"></li>
                                                <li class="far fa-star"></li>
                                            </ul>
                                            <h3 class="title"><a href="#">Men's Blazer 4</a></h3>
                                            <div class="price"><span>$90.00</span> $66.00</div>
                                            <a class="add-to-cart" href="#">add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 mt-2">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a href="#" class="image">
                                                <img class="pic-1" src="https://bizweb.dktcdn.net/100/369/010/products/bob-t-shirts-tan-3-w.jpg?v=1608103670000">
                                            </a>
                                            <span class="product-discount-label">-33%</span>
                                            <ul class="product-links">
                                                <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                                                <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <ul class="rating">
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="far fa-star"></li>
                                                <li class="far fa-star"></li>
                                            </ul>
                                            <h3 class="title"><a href="#">Men's Blazer 5</a></h3>
                                            <div class="price"><span>$90.00</span> $66.00</div>
                                            <a class="add-to-cart" href="#">add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a href="#" class="image">
                                                <img class="pic-1" src="https://bizweb.dktcdn.net/100/369/010/products/bob-t-shirts-tan-3-w.jpg?v=1608103670000">
                                            </a>
                                            <span class="product-discount-label">-33%</span>
                                            <ul class="product-links">
                                                <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                                                <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <ul class="rating">
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="far fa-star"></li>
                                                <li class="far fa-star"></li>
                                            </ul>
                                            <h3 class="title"><a href="#">Men's Blazer 6</a></h3>
                                            <div class="price"><span>$90.00</span> $66.00</div>
                                            <a class="add-to-cart" href="#">add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a href="#" class="image">
                                                <img class="pic-1" src="https://bizweb.dktcdn.net/100/369/010/products/bob-t-shirts-tan-3-w.jpg?v=1608103670000">
                                            </a>
                                            <span class="product-discount-label">-33%</span>
                                            <ul class="product-links">
                                                <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                                                <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <ul class="rating">
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="far fa-star"></li>
                                                <li class="far fa-star"></li>
                                            </ul>
                                            <h3 class="title"><a href="#">Men's Blazer 7</a></h3>
                                            <div class="price"><span>$90.00</span> $66.00</div>
                                            <a class="add-to-cart" href="#">add to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 mt-2">
                                    <div class="product-grid">
                                        <div class="product-image">
                                            <a href="#" class="image">
                                                <img class="pic-1" src="https://bizweb.dktcdn.net/100/369/010/products/bob-t-shirts-tan-3-w.jpg?v=1608103670000">
                                            </a>
                                            <span class="product-discount-label">-33%</span>
                                            <ul class="product-links">
                                                <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                                                <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <ul class="rating">
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="fas fa-star"></li>
                                                <li class="far fa-star"></li>
                                                <li class="far fa-star"></li>
                                            </ul>
                                            <h3 class="title"><a href="#">Men's Blazer 8</a></h3>
                                            <div class="price"><span>$90.00</span> $66.00</div>
                                            <a class="add-to-cart" href="#">add to cart</a>
                                        </div>
                                    </div>
                                </div>						
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
