<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-form">
		<div class="modal-content">
			<div class="modal-header">
                <h3 class="col-12 fs-3 fw-bold text-center text-dark">Add Product</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Name Product: </label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Desc: </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Price: </label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Image: </label>
                        <input type="file" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Status: </label>
                        <select class="form-select">
                            <option value="1">Kích hoạt</option>
                            <option value="2">Chưa kích hoạt</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-dark col-2 m-auto">ADD</button>
                  </form>		
			</div>
		</div>
	</div>
</div>  
