<div class="container-fluid p-0 pt-5">
    <h3 class="fs-3 fw-bold">List Products</h3>
    <button type="button" class="btn btn-outline-success mb-2">Add Product</button>
    <table class="table col-12 m-auto text-center">
        <thead>
          <tr>
            <th scope="col-1">ID</th>
            <th scope="col-2">Name</th>
            <th scope="col-3">Image</th>
            <th scope="col-1">Price</th>
            <th scope="col-2">Desc</th>
            <th scope="col-1">Status</th>
            <th scope="col-2" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td><img src="https://bizweb.sapocdn.net/100/369/010/products/monarch-butterflys-cream-3-w-1646d894-43df-498e-be33-04ffab678cea.jpg?v=1615779086657" width="150px" alt=""></td>
            <td>200$</td>
            <td>haha</td>
            <td><button type="button" class="btn btn-dark">Kích hoạt</button></td>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td><img src="https://bizweb.sapocdn.net/100/369/010/products/monarch-butterflys-cream-3-w-1646d894-43df-498e-be33-04ffab678cea.jpg?v=1615779086657" width="150px" alt=""></td>
            <td>200$</td>
            <td>haha</td>
            <td><button type="button" class="btn btn-dark">Kích hoạt</button></td>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td><img src="https://bizweb.sapocdn.net/100/369/010/products/monarch-butterflys-cream-3-w-1646d894-43df-498e-be33-04ffab678cea.jpg?v=1615779086657" width="150px" alt=""></td>
            <td>200$</td>
            <td>haha</td>
            <td><button type="button" class="btn btn-dark">Kích hoạt</button></td>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
</div>
