<div class="container-fluid p-0 pt-3">
    <h3 class="fs-3 fw-bold">List Products</h3>
    <!-- <button type="button" class="btn btn-outline-dark mb-2">Add Product</button> -->
    <a href="#myModal" class="btn btn-outline-dark mb-2" data-toggle="modal">Add Product</a>
    <table id="table_id" style="width:100%" class="display table col-12 m-auto text-center table-border table-hover">
        <thead>
          <tr>
            <th scope="col-1">ID</th>
            <th scope="col-2">Name</th>
            <th scope="col-2">Image</th>
            <th scope="col-1">Price</th>
            <th scope="col-1">Desc</th>
            <th scope="col-1">Status</th>
            <th scope="col-2" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td><img src="{{product.image}}" width="150px" alt=""></td>
            <td>{{product.price}}$</td>
            <td class="text-left">{{product.desc}}</td>
            <td><button type="button" class="btn btn-dark">Kích hoạt</button></td>
            <td><a href="#myModal" data-toggle="modal" class="text-dark"><i class="fas fa-edit"></i></a></td>
            <td><i class="fas fa-trash-alt"></i></td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="col-12 text-center m-2 btn-page">
        <button type="button" class="btn-page-detail btn btn-outline-secondary m-1">1</button>
        <button type="button" class="btn-page-detail btn btn-outline-secondary m-1">2</button>
        <button type="button" class="btn-page-detail btn btn-outline-secondary m-1">3</button>
    </div> -->
</div>
<app-form></app-form>
